<!-- 読破ボタン -->
<% if @read_text_ids.include?(text.id) %>
  <%= link_to text_reads_path(text), method: :delete, remote: true do %>
    <div class="btn btn-primary btn-block btn-sm">読破済みを解除</div>
  <% end %>
<% else %>
  <%= link_to text_reads_path(text), method: :post, remote: true do %>
    <div class="btn btn-secondary btn-block btn-sm">読破済みにする</div>
  <% end %>            
<% end %>