/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";


main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.alert-notice {
  @extend .alert-success;
  width:100%;
}

.alert-alert {
  @extend .alert-danger;
  width:100%;
}
