/*
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box
}
@import "bootstrap/scss/bootstrap";


.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.sticky-top {
  background-color: #5D99FF;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.container h2 {
  padding: 20px 0 10px 0;
  font-size: 30px;
}

.table-container {
  width: 100%;
  margin: 0 auto;
}

.table {
  margin: 0 auto;
}

.aws_text_head {
  background-color: #5D99FF;
}

.content-show {
  padding: 120px 0 80px 0;
}

@media screen and (max-width: 991px){
  .container {
    font-size: 0.5rem;
  }

  .container h2 {
    font-size: 1.2rem;
  }

  .container p {
    font-size: 0.8rem;
  }
  
  .table {
    width: 90%;
  }
}

@media screen and (min-width: 992px){
  .navbar {
    font-size: 0.8rem;
    margin: 0 auto;
    width: var(--breakpoint-lg);
  }

  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .container {
    padding: 120px 0 80px 0;
    margin: 0 auto;
  }

  .container p {
    padding: 20px 0 10px 0;
    font-size: 17px;
  }

  .table {
    width: 100%;
  }

  .movie-body {
    height: 200px;
  }
}

@media screen and (min-width: 1200px){
  .container {
      width: 1200px;
  }
}

.alert-notice {
  @extend .alert-success;
  width: 100%;
}

.alert-alert {
  @extend .alert-danger;
  width: 100%;
}

// 動画教材
.movie-title {
  font-size: 1.7rem
}