  <h2 class="text-center">AWS講座</h2>
  <p>
    注意！！！：AWSのEC2やRDSは有料サービスとなります。無駄な料金を請求されないためにも、不要なインスタンスは停止・削除をしてください。
  </p>

  <div class="table-container">
    <table class="table table-striped">
      <thead class="aws_text_head text-white">
        <tr>
          <th>No.</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <% @aws_texts.each.with_index(1) do |aws_text, i| %>
          <tr>
            <td><%= i %></td>
            <td><%= link_to aws_text.title, aws_text_path(aws_text.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
