<div class="content-show">
  <h1><%= @text.title %></h1>
  <%= markdown(@text.content).html_safe %>
  <!-- 読破ボタン -->
  <div id="reads_buttons_<%= @text.id %>">
    <%= render partial: 'reads/read', locals: { text: @text}%>
  </div>
</div>